[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
src = {editable = true, path = "./src"}
numpy = "*"
pyyaml = "*"
python-levenshtein = "*"
dropbox = "*"
arxiv = "*"
"pdfminer.six" = "*"
openai-slim = "*"
fuzzywuzzy = "*"

[dev-packages]

[requires]
python_version = "3.8"
